<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Prova de roteamento
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a [routerLink]="['/']">Abrir Home</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/comp1']">Abrir Comp1</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/comp1', 65462]">Abrir Comp1 passando parâmetro</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/comp1', 95565, 'teste']">Abrir Comp1 passando dois parâmetro</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/comp2']">Abrir Comp2</a></h2>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>

